body {
    /*margin: 0;*/
    margin-top:0;
    padding-top: 0;
    background-color: 	oklch(61% 0.2 29);
}
html{
    margin-top:0;
    padding-top:0;
}

/*Welcome - End*/
#header{
    color: ghostwhite;
    position: -50px;
    
    width: 100%;
    height: 75px;
    background-color: #669966;
}

.mainMenu{
    color: #CCCC66;
    /*Add animations*/
}

.secBox{
    background-color: goldenrod;
    align-items: center;
    color: ghostwhite;
    width: 700px;
    height: 30px;
    padding:5px;
}

.secBox_2{
    background-color: teal;
    align-items: center;
    color: ghostwhite;
    width: 700px;
    height: 30px;
    padding:5px;
}

#footer{
    background-color: #CCCC66;
    color: ghostwhite;
    padding: 10px;
    
}

/*Responsive Components*/