body {
    /*margin: 0;*/
    padding: 0;
    background-color: 	#669966;
}
/*Welcome - End*/
#header{
    color: ghostwhite;
}

.mainMenu{
    color: #CCCC66;
    /*Add animations*/
}

.secBox{
    background-color: goldenrod;
    align-items: center;
    color: ghostwhite;
    width: 700px;
    height: 30px;
    padding:5px;
}

.secBox_2{
    background-color: teal;
    align-items: center;
    color: ghostwhite;
    width: 700px;
    height: 30px;
    padding:5px;
}

#footer{
    background-color: #CCCC66;
    color: ghostwhite;
    padding: 10px;
    
}
